openwebui-n8n-pipe.json
{
  "name": "openwebui-n8n-pipe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "25f2fbe8-e195-4492-a19c-2710d307b0a9",
      "name": "Webhook",
      "webhookId": "46a3429b-78ba-44d1-aa21-7a8bfdfa7cff",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DylT6tPPKF018RNh",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "5af1e5ce-7fd5-4e7b-8bd0-20cde88ff00a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "7f16b44f-18b1-44dc-8138-03797c5f7f42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "apertus-8b",
          "mode": "list",
          "cachedResultName": "apertus-8b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        224
      ],
      "id": "4c49b865-3530-4fc7-a77d-aaf82bcd03e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "toACCLDZnUFZScQe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        224
      ],
      "id": "5ca9c6cc-5869-4da3-93cd-aa4dfcdf9ed3",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6a70130-a823-4760-a52b-f41d94a97c96",
  "meta": {
    "instanceId": "940d2b899a8a270b71cba6a9137e142a3b1821753fc34bb9cd5fe802bf86cc22"
  },
  "id": "f4MYu4w3Thdnckl6",
  "tags": []
}